<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My community manager app{% endblock %}</title>
</head>
<body>
<header style="background-color: blue;color:darkslategrey">Community Manager</header>
<nav style="background-color: royalblue;color:grey;border:2px;border-color: darkred">{% block nav %}
 <ul>
 <li><a href="/communitymanager/accounts/profile/posts/">My news feed</a></li>
 <li><a href="/communitymanager/accounts/profile/communautes/">My subscriptions</a></li>
 <li><a href="/communitymanager/accounts/profile/create/">Create a post</a></li>
 </ul>
 {% endblock %}</nav>
<section id="content">
 {% block content %}{% endblock %}
 </section>
</body>
</html>