<!DOCTYPE html>
{% extends "base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{post.titre}}</title>
</head>
<body>
{% block title %}{{post.titre}} {% endblock %}
{% block content %}
<h1>{{post.titre}}</h1>
<h2>{{post.auteur.username}}</h2>
<h3>{{post.date_creation}}</h3>
<p>{{post.description}}</p>
{% if user == post.auteur %}
    <a href="/communitymanager/accounts/profile/post/{{post.id}}/modify">Modify</a>
{% endif %}
<form class="form" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-primary" type="submit" value="Comment"/>
</form>
<ul>
    Current comments :
    {% for com in comments %}
        <h4>{{com.auteur}}</h4>
        <h5>{{com.date_creation}}</h5>
        <p>{{com.contenu}}</p>
    {% endfor %}
</ul>
{% endblock %}
</body>
</html>